*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container {
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 5vh;
    padding-top: 5%;
    background-color: black;
}
.login-form {
    width: 90%;
    height: 90% ;
    background-color: red;
    margin-left: 5%;
    text-align: center;
    padding-top: 19px;
}
input {
    width: 280px;
    height: 20px;
    border-radius: 10px;
    
}
.username,.password{
    padding: 10px;
}
.signup-btn {
    width: 150px;
    height: 28px;
    margin-top: 15px;
    cursor: pointer;

}